.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  align-items: center;
  //background-color: rgba(inherit, 0.3);
  button {
    border-radius: 10px;
    padding: 3px 5px;
    font-size: 1.3em;
    margin: auto;
  }
  .guide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error {
    color: #ff5658;
    font-size: 1.3em;
    margin: 12px auto;
  }
  .form-content {
    display: none;
    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      overflow-wrap: break-word;
      margin-bottom: 10px;
      input, textarea, label {
        border-radius: 10px;
        padding: 5px;
        font-size: 1.2em;
      }

    }
    .form-actions {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
    }
    .options {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .group {
        color: white;
        font-size: 1.1em;
        padding: 2px;
        border-radius: 10px;
        background-color: pink;
        margin-top: 5px;
      }:hover {
        background-color: #ff807f;
     }
    }
  }

  .trips {

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    margin: 10px auto;
    .tripItem {
      display: grid;
      grid-template-areas:
              "a b d d"
              "a c d d";
      grid-gap: 15px;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 1fr 5fr 1fr;
      border-radius: 10px;
      margin: 5px auto;
      border: solid rgba(243, 179, 180, 0.58);
      box-shadow: 6px 5px rgba(211, 211, 211, 0.16);
      @media only screen and (max-width: 600px) {
        grid-template-areas:
                "a b d"
                "c c d";
        grid-template-rows: 1fr 3fr;
      }
      button {
        background-color: rgba(255, 49, 31, 0.71);
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        margin-top: 5px;
      }
      .tripImg {
        grid-area: a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          max-height: 250px;
          max-width: 350px;
        }
        @media only screen and (max-width: 600px) {
          img {
            max-height: 150px;
            max-width: 150px;
          }
        }
      }
      .tripWeather {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        grid-area: d;
        text-align: center;
        margin: 4px auto;
        img {
          max-width: 30px;
        }
      }
    } > :hover  {
      background-color: rgba(161, 161, 161, 0.16);
   }
  }

}
@media only screen and (max-width: 600px) {
  body {
    width: 90%;
    margin: auto;
  }
  .content .trips {
    max-width: 95%;
    padding: 5px;
  }
}
